h1{
    background-color: rgba(#fd5e37, #95f1b1, #c76cfc, 0.5);
    font-size: 2rem;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
footer{
    border: #c76cfc;
}